* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font:
        14px/1.4 system-ui,
        Segoe UI,
        Roboto,
        Helvetica,
        Arial;
}
button {
    cursor: pointer;
}
input,
select,
button {
    font: inherit;
}
